.card {
  color: rgba($text-primary, 80%);
  background-color: $tertiary;
  border-color: rgba($bg-primary, 10%);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  &.card-hoverable {
    transition: 0.2s;
    &:hover {
      background-color: rgba($bg-primary, 15%);
    }
  }
}
