.footer {
  position: relative;
  background-color: rgba($bg-primary, 10%);
  padding: 40px 0;
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer-nav {
      display: flex;
      align-items: center;
      li {
        margin: 0 0.6em;
        a {
          color: rgba($text-primary, 60%);
          font-weight: 500;
          &:hover {
            color: $text-primary;
          }
        }
      }
    }
    .footer-copyright {
      color: rgba($text-primary, 50%);
      font-size: 0.9em;
      text-align: center;
    }
  }
}
