@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import "~swiper/swiper.scss";
@import "~swiper/components/effect-coverflow/effect-coverflow.scss";
@import "/css/bootstrap.min.css";
@import "/css/font-awesome.min.css";
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./utilites.scss";
@import "./header.module.scss";
@import "./navbar.module.scss";
@import "./carousel.module.scss";
@import "./hero-search.module.scss";
@import "./button.module.scss";
@import "./form.module.scss";
@import "./paragraph.module.scss";
@import "./game-card.module.scss";
@import "./footer.module.scss";
@import "./topbar.module.scss";
@import "./service-card.module.scss";
@import "./card.module.scss";
@import "./hero.module.scss";
@import "./breadcrumb.module.scss";
@import "./alert.module.scss";
@import "./bank-card.module.scss";
@import "./panel.module.scss";
@import "./divider.module.scss";

html,
body {
  color: $text-primary;
  background-color: $bg-body;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  // -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-color: rgba($bg-primary, 15%);
}

*::selection {
  color: $color-one;
  background-color: $primary;
}

.mx-n2 {
  margin: 0 -0.5rem !important;
}

.container-narrow {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.auth-wrapper {
  background-image: url("/images/login-background.svg");
  background-blend-mode: overlay;
  background-color: rgba($bg-secondary, 50%);
}

.login-wrapper {
  position: relative;
  background-color: $primary;
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &::before {
    background-image: url(/images/cloud-left-side.svg);
    background-position: left;
  }
  &::after {
    background-image: url(/images/cloud-right-side.svg);
    background-position: right;
  }
}

.blank-page {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1em;
  }
  p {
    color: rgba($text-primary, 70%);
    font-size: 1.1em;
  }
}

@media (max-width: $breakpoint-mobile) {
  body {
    font-size: 14px;
  }
  .login-wrapper {
    &::after,
    &::before {
      display: none;
    }
  }
}
