.text-main {
  color: $primary !important;
}
.text-primary {
  color: $text-primary !important;
}
.text-secondary {
  color: $text-secondary !important;
}
.text-one {
  color: $color-one !important;
}
.text-two {
  color: $color-two !important;
}
.text-three {
  color: $color-three !important;
}
.text-four {
  color: $color-four !important;
}
.text-five {
  color: $color-five !important;
}
.text-six {
  color: $color-six !important;
}
.text-primary-one {
  color: $text-primary !important;
}
.text-primary-one:hover {
  color: $color-one !important;
}
.text-thin-primary {
  color: rgba($text-primary, 60%) !important;
}
.text-thin-primary:hover {
  color: $text-primary !important;
}
.bg-one {
  background-color: $color-one !important;
}
.bg-two {
  background-color: $color-two !important;
}
.bg-three {
  background-color: $color-three !important;
}
.bg-four {
  background-color: $color-four !important;
}
.text-align-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
