$primary: #3d5afe;
$secondary: #101323;
$bg-body: #101323;
$bg-primary: #fff;
$bg-secondary: #000;
$text-primary: #fff;
$text-secondary: #000;
$color-one: #fffc91;
$color-two: #ff3f3f;
$color-three: #3df13d;
$color-four: #50aeff;
